@import 'loader.css';
@import 'nosotros.css';
@import 'menu.css';
@import 'mision.css';
@import 'slider.css';
:root{
    --color-primary:#f39200;
    --color-secondary:#1a82c5;
    --color-terciary:#0b65ae;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler{
    color:white;
    border-color:white;
}

*,html,body{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Coco';
}

a{
    text-decoration: none;
}
.home{
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    
    animation-name: home;
    
}
@keyframes home {
    0% {
        
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100% {
        
        opacity: 1;
    }
}

@font-face{
    font-family:'Coco';
    src: url('../fonts/CocoGothic_trial.ttf');
}