.menu{
    
    color: white;
    background: radial-gradient(#1a82c5,#0b68ae);
}
.menu__navbar{
    color: white;
    justify-content: flex-end;
}
.menu__item{
    align-items: center;
    color: white;
    font-size:18px;
    font-weight: 700;
    margin:10px;
    text-decoration: none;
}
.menu__item:hover{
    align-items: center;
    color: white;
    font-weight: 700;
    margin:10px;
    text-decoration: none;
}
@media (max-width: 320px) {
   .menu__logo{
       width: 70%;
   }
}